/*==公共css==*/

html {
    color: #000;
    display: block;
    height: 100%
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

i,
cite,
em {
    font-style: normal;
}

fieldset,
img {
    border: 0 none
}

img {
    vertical-align: middle
}

li {
    list-style: none
}

body,
select,
input,
button,
textarea {
    font: 14px/1.2 tahoma, Helvetica, Microsoft YaHei, arial
}

a,
a:link,
a:visited {
    text-decoration: none
}

a,
button,
input,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

a:focus {
    outline: none;
    -moz-outline: none
}

:focus {
    outline: 0
}

a:hover {
    text-decoration: none
}

input,
textarea {
    -webkit-appearance: none;
    border-radius: 0
}

body {
    font: 14px/1.2 tahoma, Helvetica, Microsoft YaHei, arial;
    color: #000;
    min-width: 320px;
    max-width: 750px;
    background: #F7F7F7;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    position: relative;
}

img {
    vertical-align: middle;
    margin: 0 auto;
    width: 100%;
}

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.both {
    clear: both !important;
}

div {
    display: block
}

input:disabled {
    border: none;
    background-color: #fff;
    color: #BBBBBB;
}

.k_g5 {
    height: 5px;
    clear: both;
}

.k_g10 {
    height: 10px;
    clear: both;
}

.k_g15 {
    height: 15px;
    clear: both;
}

.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

:-moz-placeholder {
    color: #333;
    opacity: 1
}

::-moz-placeholder {
    color: #333;
    opacity: 1
}

input:-ms-input-placeholder {
    color: #333;
    opacity: 1
}

input::-webkit-input-placeholder {
    color: #333;
    opacity: 1
}


/* 公共input样式 */